<%= form_for @password, remote: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :URL %>
    <%= f.text_field :URL, class: "form-control" %>

    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>

    <%= f.label :password %>
    <%= f.text_area :password, class: "form-control" %>

    <%= f.submit class: "btn btn-success" %>
        
    <%= link_to new_password_group_path, remote: true, id: "new_password_group_link" do %>
            <button class="btn btn-success">Add group</button>
    <% end %>

<% end %>