
<%= form_for @password, remote: true do |f| %>
    <% if @password.persisted? %>
      <h3>Edit Password</h3>
    <% else %>
      <h3>Add Password</h3>
    <% end %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :URL %>
    <%= f.text_field :URL, class: "form-control" %>

    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>

    <%= f.label :password %>
    <%= f.text_area :password, class: "form-control" %>

    <br />
    <%= f.submit class: "btn btn-success" %>
    <%= f.button "Cancel", class: "btn btn-default" %>
<% end %>