<%= form_for @password, remote: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :URL %>
    <%= f.text_field :URL, class: "form-control" %>

    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>

    <%= f.label :password %>
    <%= f.text_area :password, class: "form-control" %>

    <div id="dropdown" >
      <%= f.label :password_group %>
      <%= collection_select(:password, :password_group_id, PasswordGroup.all, :id, :name, {prompt: "Select group"}, class: 'form-control') %>
    </div>

    <%= link_to 'Add group', new_password_group_path, remote: true, id: "new_password_group_link", class: 'btn btn-link pull-right' %>

    <br />

    <%= f.submit class: "btn btn-success" %>
        
<% end %>