<%= form_for @password, remote: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :URL %>
    <%= f.text_field :URL, class: "form-control" %>

    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>

    <%= f.label :password %>
    <%= f.text_area :password, class: "form-control" %>

    <div class="col-md-6 col-centered form-pwd" id="dropdown" style="display:none;">
     <%= f.label :select_password_group %>
     <%= collection_select(:password, :password_group_id, PasswordGroup.all, :id, :name, prompt: true) %>
    </div>

    <%= link_to new_password_group_path, remote: true, id: "new_password_group_link" do %>
            <button class="btn btn-success">Add group</button>
    <% end %>

    <%= f.submit class: "btn btn-success" %>
        
    

<% end %>