<div class="js-password-block-show-hidden col-md-4" id="password-block-<%= password.id %>">
  <div class='well password-block'>
    <table>
      <tbody>
        <tr>
          <td valign="top" width="16">
            <%= link_to password.URL, target: "_blank" do %>
              <% if password.favicon_DataURI.nil? %>
                <%#= image_tag("favicon.ico", class: 'favicon password-block-favicon') %>
                <span class="glyphicon glyphicon-lock" style='font-size:16px;display:block;'></span>
              <% else %>
                <img class="favicon password-block-favicon" alt="pwdlocker" src="data:image/gif;base64,<%= password.favicon_DataURI %>" />
              <% end %>
            <% end %>
          </td>
          <td valign="top">
            <%= link_to password.URL, target: "_blank" do %>
              <span class="password-data password-block-password-title" id="password-data-title-<%= password.id %>" ><%= password.title %></span>
            <% end %>

            <span class="password-block-password-username" id="password-data-username-<%= password.id %>">
              <small><span class='glyphicon glyphicon-user'></span></small>
              <%= password.username %>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class='btn btn-primary'>
              <span class="glyphicon glyphicon-copy"></span>Pass
            </button>

            <button class='btn btn-primary'>
              <span class="glyphicon glyphicon-copy"></span>User
            </button>

            <%= link_to edit_password_path(password), class: 'btn btn-default', remote: true do%>
              <span class="glyphicon glyphicon-pencil"></span>Edit
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

