<div class="password-block well" id="password-block-<%= password.id %>" onclick="markActiveLink(this);">
  <div class="col-1">
    <%= link_to password.URL do %>
        <% if password.favicon_DataURI.nil? %>
            <%= image_tag("favicon.ico", class: 'favicon') %>
        <% else %>
            <img class="favicon" alt="pwdlocker" src="data:image/gif;base64,<%= password.favicon_DataURI %>" />
        <% end %>
    <% end %>
  </div>
  <div class="col-2">
    <span class="password-data" id="password-data-title-<%= password.id %>" > <b><%= password.title.to_s.downcase.capitalize %></b> </span>
    <span class="password-data" id="password-data-username-<%= password.id %>" >  <b>Username:</b> <%= password.username %> </span>
    <span class="password-data" id="password-data-password-<%= password.id %>" >  <b>Password:</b> <%= password.password %> </span>
  </div>
  <div class="col-3">
    <%= link_to password, remote: true, method: :delete do %>
        <span class="glyphicon glyphicon-remove"></span>
    <% end %>
    <%= link_to edit_password_path(password), remote: true do%>
        <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </div>
</div>

