<div class="password-block well" id="password-<%= password.id %>">
        <%= link_to password.URL do %>
            <%= image_tag(get_favicon_url(password), alt: "rubydonkey.png", class: "favicon") %>
        <% end %>
        <span class="password-data"> <b><%= password.title.to_s.downcase.capitalize %></b> </span>
        <span class="password-data">  <b>Username:</b> <%= password.username %> </span>
        <span class="password-data">  <b>Password:</b> <%= password.password %> </span>
</div>
