<div class="js-password-block-show-hidden col-md-4" id="password-block-<%= password.id %>">
  <div class='well password-block'>
    <div class='row'>
      <div class="col-xs-2">
        <%= link_to password.URL, target: "_blank" do %>
            <% if password.favicon_DataURI.nil? %>
                <%= image_tag("favicon.ico", class: 'favicon password-block-favicon') %>
            <% else %>
                <img class="favicon password-block-favicon" alt="pwdlocker" src="data:image/gif;base64,<%= password.favicon_DataURI %>" />
            <% end %>
        <% end %>
      </div>

      <div class="col-xs-8">
        <span class='label label-default pull-right'><%= password.password_group.try(:name)  %></span>
        <%= link_to password.URL, target: "_blank" do %>
          <span class="password-data" id="password-data-title-<%= password.id %>" > <b><%= password.title.to_s.downcase.capitalize %></b> </span>
        <% end %>
        <br />
        <span class="password-block-password-data" id="password-data-username-<%= password.id %>">  <b>Username:</b> <%= password.username %> </span>
        <br />
        <span class="password-data password-block-password-data" id="password-data-password-<%= password.id %>">  <b>Password:</b> <%= password.password %> </span>
        <br />
        <% if password.password_last_changed_at.present? %>
          <span class="password-data password-block-password-data" id="password-data-password-changed-<%= password.id %>">  Last time changed  <%= time_ago_in_words(password.password_last_changed_at) %> ago. </span>
        <% else %>
           <span class="password-data password-block-password-data" id="password-data-password-changed-<%= password.id %>">  Created  <%= time_ago_in_words(password.created_at) %> ago. </span>
        <% end %>
      </div>

      <div class="col-xs-2">
        <%= link_to password, remote: true, method: :delete do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        <%= link_to edit_password_path(password), remote: true do%>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
