<li id="password-<%= password.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-2">
        <%= link_to password.URL do %>
            <%= image_tag(get_favicon_url(password), alt: "rubydonkey.png", class: "favicon") %>
        <% end %>
        <span class="password-data"> <b><%= password.title.to_s.downcase.capitalize %></b> </span>
        <span class="password-data">  <b>Username:</b> <%= password.username %> </span>
        <span class="password-data">  <b>Password:</b> <%= password.password %> </span>
      </div>
      <div class="col-md-2">
        <span class="password-edit-destroy">
            <%= link_to edit_password_path(password), remote: true do%>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          <%= link_to password, remote: true, method: :delete do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </span>
      </div>
    </div>
  </div>
</li>
